<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844037246053-0c0ecilli0glke2pli3jht4j2l4ttipu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844037246053-0c0ecilli0glke2pli3jht4j2l4ttipu</string>
	<key>API_KEY</key>
	<string>AIzaSyCTseYDP8lYLiUZNaDjCAN6IOFRy7u1WBY</string>
	<key>GCM_SENDER_ID</key>
	<string>844037246053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios-final-project-group-2.Megamart</string>
	<key>PROJECT_ID</key>
	<string>megamart-84323</string>
	<key>STORAGE_BUCKET</key>
	<string>megamart-84323.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844037246053:ios:78c9f5e4ea032025db4a8c</string>
	<key>DATABASE_URL</key>
	<string>https://megamart-84323-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>